*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 100vw;
    overflow-x: hidden;
}

.nav-container{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    gap: 4rem;
    background-color: #333b50;
    width: 100%;
    height: 50px;
    padding: 2rem 0;
    font-size: 1.3rem;
}

.nav-image{
    width: 70px;
    height: 70px;    
}

.nav-image-container{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:4rem ;
}

.nav-links{
    width: 70%;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-left: 4.5rem;
}

.nav-links a{
    text-decoration: none;
    color: gray;
}

#home{
    color: rgb(1, 186, 1);
}
#home:hover{
    color: white;
}

.nav-links a:hover{
    color: white;
}


.info-container{
    position: relative;
    width: 100%;
    height: 140vh;
    overflow-x: hidden;
    background-image: url("person-image.avif");
    background-attachment: fixed;
    background-size: 150%;
    background-position:center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 6rem;
}

.background-container{
    position:absolute;
    width: inherit;
    height: inherit;
    background-color: rgb(112, 122, 138, 0.6);
    display: flex;

}

.info-name{
    position: relative;
    font-size: 6rem;
    letter-spacing:4px;
    width: 30%;
    color: white;
    right: 20%;
}

.info-title{
    font-size: 4rem;
    letter-spacing: 3px;
    color: white;
    right: 18%;
    position: relative;
}


.skill-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("skill-background.avif");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 30%;
    background-size: 100% 130%;
    object-fit: cover;
    width: 100vw;
    height: 120vh;
    color: white;
    position: relative;
}
.background-fill{
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: rgba(18, 25, 46, 0.463);
}
