*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    color: white;
    background-image: linear-gradient(160deg , #112d4e 0% , #3f72af 100%);
}

h1{
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
}

.tab-container{
    display: flex;
    justify-content: space-between;
    max-width: 550px;
    margin: 0 auto;
    margin-top: 4rem;
    width: 90%;
}

.tab{
    color: white;
    cursor: pointer;
    font-size: 0.875rem;
    letter-spacing: 1.75px;
    padding: 5px 8px;
}

.tab.current-tab{
    background-color: gray;
    border-radius: 4px;
}

.weather-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 4rem;   /* This is used to add bottom or top margin*/
}

.btn{
    all : unset;
    background-color: #6299dd;
    border-radius: 5px;
    font-size: 0.85rem;
    text-transform: uppercase;
    cursor: pointer;
    color: rgb(0, 0, 0);
    padding: 10px 30px;
    margin-bottom: 10px;
}

.sub-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}


.grant-location-container{
    display: none;
}

.grant-location-container.active{
    display: flex;
    flex-direction: column;

}

.grant-location-container img{
    margin-bottom: 2rem;
    /* background-color: transparent; */
}

.grant-location-container p:first-of-type{
    font-size: 1.75rem;
    font-weight: 600; 
}

.grant-location-container P:last-of-type{
    font-size:0.85rem;
    font-weight: 500;
    margin-top: 0.75rem;
    margin-bottom: 1.75rem;
    letter-spacing: 0.75px;
}


.loading-container{
    display: none;
}

.loading-container.active{
    display: flex;
}

.loading-container p{
    text-transform: uppercase;
}

/* .user-info-container{
    display: none;
} */

.user-info-container.active{
    display: flex;
    flex-direction: column;
    
}
 